.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__user-name
        CHIKA
      .side-bar__header__box__icon
        = link_to "#"  do
          = icon('far', 'edit', class: "edit")
        = link_to "#"  do
          = icon('fas', 'cog', class: 'cog')
  .side-bar__contents
    .side-bar__contents__group-name
      techcamp
    .side-bar__contents__group-message
      まだメッセージがありません